src/main/resources/Person.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com/personservice"
           targetNamespace="http://example.com/personservice">
    <xs:element name="Person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="age" type="xs:int"/>
                <xs:element name="birthDate" type="xs:date"/>
                <xs:element name="gender" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getPersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getPersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:Person"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createPersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:Person"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createPersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:Person"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updatePersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:Person"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updatePersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tns:Person"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deletePersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deletePersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>